<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnvironmentSection" type="Okapi.Configs.EnvironmentSection, Okapi" />
  </configSections>
  <appSettings>
    <add key="SeleniumHubUrl" value="http://localhost:2021/wd/hub"/>
  </appSettings>
  <EnvironmentSection>
    <Environments>
      <add targetTestEnvironment="Test1"
				 active="true"
				 driverFlavour="ChromeDriver"
         remoteDriver="false"
				 driverTimeoutInSeconds ="10"
				 quitDriverOnError ="true"
				 log ="true"
				 takeSnapshotOnOK ="true"
				 takeSnapshotOnError ="true"
				 snapshotLocation ="Snapshots"
         smartSearch ="true"
         logPath = "log.txt"
         reportDirectory ="Report"/>
      <add targetTestEnvironment="Test2"
			   active="false"
			   driverFlavour="IE"
         remoteDriver="false"
			   driverTimeoutInSeconds ="10"
			   quitDriverOnError ="true"
			   log ="true"
			   takeSnapshotOnOK ="true"
			   takeSnapshotOnError ="true"
			   snapshotLocation ="Snapshots"
         smartSearch ="true"
         logPath = "log.txt"
         reportDirectory ="Report"/>
    </Environments>
  </EnvironmentSection>
</configuration>